
@{
    ViewData["Title"] = "VerifySuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-info">
    <p> Your Number is Success</p>
    <br/>
    <strong> Thanks For You </strong>

</div>
<a href="~/">Home</a>
